@import "_utilities";

body{
  background-color: $ligntwhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.box_wrapper{
  width: 50%;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2.5rem;
  border-radius: 1rem;
  border-bottom-right-radius: 5rem;
  .date_wrapper{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    .input_wrapper{
      flex: 0 0 23%;
      .form-label{
        font-size: 0.7rem;
    margin-bottom: 0.1rem;
    ::placeholder{
    font-weight: bold;
    }
      }
    }
  }
}
.arrow_btn{
  background-color: $violet;
  color: $white;
}
.btn_wrapper{
  position: relative;
  
  &::before{
    content: "";
    background: rgba($darkblack,0.1);
    height: 1px;
    width: 90.5%;
    position: absolute;
    left: 0px;
    top: 50%;
  }
}
.result{
  margin-left: 2rem;
  span{
    color: $violet;
    font-weight: bold;
    
  }
}